###############################################################################
# Set default behaivor to automatically normalize line endings.
###############################################################################
* text=auto
